.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #ffffff00;
  }
  
  .loader {
    border: 8px solid #f3f3f3;
    border: 2px ;
    border-top: 9px groove #f95d5d;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 01s infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
  }
  