.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 400px;
  margin: auto auto;
  margin-bottom: 50px;
  border: solid rgb(231, 17, 17) 5px;
  border-radius: 15px;
  padding: 60px;
  padding-right: 80px;
  gap: 1.5rem;
  color: #020306; 
 background-color: #22cdeb39;
}

.form-header {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

.form-title {
  font-size: 1.75rem;
  font-weight: 500;
}

.form-underline {
  border: none;
  height: 2px;
  width: 2rem;
  background-color: #1f2937;
}

.form-input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #1f2937;
  border-radius: 5px;
  outline: none;
  font-size: 1.3rem;
  position: relative;
  margin-left: auto;
}

.form-password-container {
  position:relative;
  width: 100%;
}

.toggle-password {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size:x-large ;
  width: 4px;
}

.form-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  margin-top: -0.5rem;
  color: #1f2937;
  cursor: pointer;
}

.form-footer p:hover {
  text-decoration: underline;
}

.form-button {
  background-color: black;
  color: white;
  font-weight: 300;
  padding: 1rem 2rem;
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form-button:hover {
  border-radius: 0.5rem;
}
