.search-bar-container {
  border-top: 1px solid #e5e7eb;
  text-align: center;
  padding: 1rem 0;
}

.search-bar-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #9ca3af;
  padding: 0.5rem 1.25rem;
  margin: 1.25rem 0.75rem;
  border-radius: 9999px;
}

@media (min-width: 640px) {
  .search-bar-wrapper {
    width: 30%;
  }
}

.search-bar-input {
  flex: 1;
  outline: none;
  background: inherit;
  font-size: 0.875rem;
  border: none;
}

.search-icon {
  width: 1rem;
}

.search-close-icon {
  width: 0.75rem;
  cursor: pointer;
  margin-top: 0.5rem;
  
}
