.add-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 1rem;
}

.image-upload-container {
  display: flex;
  gap: 1rem;
}

.upload-image {
  width: 5rem;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 5rem;
}

.form-group {
  width: 100%;
}

.form-input {
  width: 100%;
  max-width: 500px;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  width: 450px;
}

@media (min-width: 640px) {
  .form-row {
    flex-direction: row;
    gap: 2rem;
  }

  .form-row input,
  .form-row select {
    width: 120px;
  }
}

.size-options {
  display: flex;
  gap: 0.75rem;
}

.size-option {
  background-color: #e2e8f0;
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  border-radius: 4px;
  width: 65px;
  transition: background-color 0.2s ease;
}

.size-option.selected {
  background-color: #a3ffa6;
}

.checkbox {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 0.5rem;
}

.submit-button {
  width: 7rem;
  padding: 0.75rem 0;
  margin-top: 1rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
